<h1>Books#index</h1>

<%= link_to 'new_book', new_book_path('') %>
<ul>
  <% @books.each do |book| %>
    <li>
      <%= link_to book.name, book_path(book) %>
      <%= 'star: ' + (book.summary_star || 'no reviews').to_s %>
    </li>
  <% end %>
</ul>
