<h1>Books#index</h1>

<%= link_to 'new_book', new_book_path('') %>
<ul>
  <% @books.each do |book| %>
    <li>
      <% s = book.summary_star %>
      <%= link_to book.name, book_path(book) %>
      <%= 'star: ' + (s.nan? ? 'no reviews' : s.to_s) %>
    </li>
  <% end %>
</ul>
